.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block; /* Asegura que el botón respete el padding */
  text-align: center;
}

.primary {
  background-color: #4CAF50; /* Color verde */
  color: white;
}

.primary:hover {
  background-color: #388E3C; /* Verde más oscuro */
}

.secondary {
  background-color: transparent;
  color: #4CAF50; /* Color verde */
  border: 2px solid #4CAF50;
}

.secondary:hover {
  background-color: #4CAF50;
  color: white;
}

/* Estilos si necesitas un botón de ancho completo */
.fullWidth {
  width: 100%;
  display: block;
}
